svg {
    touch-action: inherit !important;
}

.notFound p {
    background: -webkit-linear-gradient(45deg, rgba(43, 46, 129, 1) 0%, rgba(190, 79, 156, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fluid-container {
    background: #060818;
    min-height: 100vh;
    color: "white !important"
}

.firstColor {
    background: #0e1726;
    color: #888ea8;
    border-radius: 10px;
}

.MapColor {
    background: rgb(92, 26, 195);
    border-radius: 10px;
}

.jvectormap-container {
    touch-action: inherit !important;
}

.jvectormap-tip {
    display: none !important;
}

.mixed-chart {
    width: 100%;
}

.donut {
    width: 100%;
}

/************************************************/

/************** TotalCases Code *****************/

/************************************************/

.count-contianer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 100px;
    border: 1px solid #191e3a;
    border-radius: 6px;
    color: rgb(231, 81, 90);
}

/************************************************/

/**************** Header Code *******************/

/************************************************/

.countryCode h6 {
    color: #25d5e4;
    font-size: 13px;
}

.searchForm {
    position: relative;
}

.searchForm input {
    background: transparent;
    width: 370px;
    height: 43px;
    border: 1px solid #3b3f5c;
    border-radius: 8px;
    color: #d3d3d3;
    letter-spacing: 1px;
    padding: 0px 10px 0px 50px;
    font-size: 13px;
}

.searchForm input:focus {
    outline: none;
}

.searchForm input::placeholder {
    font-size: 13px;
}

.searchBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    left: 5px;
    background: #191e3a;
    width: 32px;
    height: 34px;
    border: none;
    border-radius: 8px;
    color: #d3d3d3;
    letter-spacing: 1px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.table-row:hover {
    transform: scale(1.008);
    background-color: #191e3a;
}

/************************************************/

/***************** Table Code *******************/

/************************************************/

table {
    color: #888ea8 !important;
    font-size: 13px;
}

tr {
    border-bottom: 1px solid #191e3a;
}

td {
    border: none !important;
}

th {
    border: none !important;
}

tr:hover {
    color: #888ea8 !important;
    transform: scale(1.02);
    transition: all 0.1s ease;
    cursor: pointer;
}

.sorting_desc, .sorting, .sorting_asc {
    color: #009688;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.page-link {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none !important;
    border: none !important;
    cursor: pointer;
}

.page-item {
    border-radius: 50% !important;
    margin: 1px;
}

.page-item:hover {
    background: #191e3a;
    color: #fff;
}

.active {
    background-color: #009688 !important;
}

.disabled {
    background: #191e3a !important;
}

.form-control {
    background: #1b2e4b;
    border: 1px solid #1b2e4b;
    box-shadow: none;
    border-radius: 6px;
    color: #009688;
    font-size: 15px;
    height: auto;
    letter-spacing: 1px;
    padding: 0.75rem 1.25rem;
}

.form-control:focus {
    background: #1b2e4b;
    border: none !important;
    outline: none !important;
    color: #009688;
    box-shadow: none;
    font-size: 15px;
}

.custom-select {
    width: 75px;
}

/************************************************/

/**************** Loader Code *******************/

/************************************************/

.loader {
    background: #060818;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0px;
    width: 100%;
    z-index: 999999;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #FFF;
    /* margin: 0 auto; */
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/************************************************/

/**************** Media Query *******************/

/************************************************/

@media (max-width: 767px) {
    .navbar-collapse {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .searchForm {
        margin: 0 !important;
    }
    .searchForm input {
        width: 90% !important;
    }
}

@media (max-width: 991px) {
    .table {
        padding: 5px !important;
    }
    .col-lg-4 {
        margin-top: 20px !important;
        padding: 0 !important;
    }
}

@media (max-width: 1200px) {
    .col-xl-4 {
        margin-bottom: 20px !important;
        padding: 0 !important;
    }
}